.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

a,
a:focus,
a:hover {
    color: gray;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: .05rem solid #fff;
}

/*
 * Base structure
 */
 
 body {
     display: -ms-flexbox;
     display: flex;
     text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
     box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
 }
 
 .navbar {
     margin-bottom: 20px;
 }
 
 .masthead {
     margin-bottom: 5rem;
 }
 
 .navbar-brand {
     font-weight: 700;
 }

 /*
 *  Blogs
 */


 .articles {
    max-width: 45em;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-top: 20px;
 } 

 .articles h4, p {
     text-align: left;
     text-shadow: none;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .headerpics {
    max-width: 45em;
    margin-left: auto;
    margin-right: auto;
    background-size: 100% 100%;
 }

 #headerpic1, #headerpic2, #headerpic3 {
    max-height: 280px;
 }

 #article3 {
     border-bottom: none;
 }